@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@1,400;1,700&family=Permanent+Marker&display=swap');

/* Variables */
:root {
    --font-family: "Roboto", sans-serif;
    --heading-font-family: 'Permanent Marker', sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --font-size: 1.2rem;
    --bg-color: #f3f0f5;
    --logo-color: #8c71a0;
    --primary-color: #382340;
    --secondary-color: #000;
    --tertiary-color: #85a071;
    --primary-shadow: #544360;
    --secondary-shadow: #8b8eaf;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.5rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    &:hover {
        color: var(--tertiary-color);
    }
}

/* NavBar Section */
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5em;
    padding: 0 3rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

}

.nav-name {
    color: var(--primary-color);
    font-family: var(--heading-font-family);
}

li:hover, h1:hover {
    transition: var(--transition);
    color: var(--tertiary-color);
    transform: translateY(-1.25px);
}

.nav-link-list {
    font-weight: var(--bold-font);
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.nav-link {
    font-size: var(--font-size);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* Section Generals */
.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

section {
    font-size: var(--font-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 30em;
    flex: 1;
    scroll-margin-top: 4em;
}

/* Hero Section */
.hero-section {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 20rem;
    min-height: 42em;
}

.hero-img {
    width: 34rem;
    height: auto;
}

.hero-img-container {
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    aspect-ratio: 1/1;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    height: 500px;
    width: 500px;
}

/* More About Section */
.more-about-section {
    justify-content: space-evenly;
    min-height: 20em;
    padding: 0px 15em;
}

/* Skills Section */
.skills-section {
    background-color: var(--bg-color);
    justify-content: space-evenly;
    min-height: 50rem;
}

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 40rem;
}

.skill-strip {
    display: flex;
    justify-content: space-evenly;
    width: 39%;
}

.icon-img {
    background-color: #fff;
    width: 11.857rem;
    height: 11.25rem;
    padding: 20px;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}

.skill-link {
    transition: var(--transition);

    &:hover {
        transform: scale(1.05);
    }
}

/* Projects  Section */
.project-section {
    min-height: 42em;
    justify-content: space-evenly;
}

.project-card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 4rem;
    width: 100%;
}

.project-card {
    min-height: 32rem;
    width: 25rem;
}

.card-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 40rem;
    text-align: center;
    padding: 0px 1rem;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    transition: var(--transition);

    &:hover {
    color: var(--primary-color);
    transform: scale(1.05);
    }
}


.project-pic {
    border-radius: 0.25em;
    width: 100%;
    height: 10em;
}

.check-out-text {
    color: var(--logo-color);
    &:hover {
        color: var(--tertiary-color);
    }
}

/* Contact Section */
.contact {
    background-color: var(--bg-color);
    justify-content: space-evenly;
    min-height: 33em;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    border-radius: 5px;
    padding: 0.938rem;
    border-radius: 11px;
    box-shadow: 0 0 10px var(--secondary-shadow);
}

.form-control {
    display: inherit;
    flex-direction: inherit;
    width: 100%;
}

label {
    line-height: 2.7rem;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}

.input-field {
    font-family: var(--font-family);
    font-size: 0.875rem;
    padding: 10px;
    border: 1px solid var(--logo-color);
    border-radius: 5px;
}

textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.input-field::placeholder {
    color: var(--secondary-shadow);
    font-family: var(--font-family);

}

.input-field:focus::placeholder {
    opacity: 0;
    transition: opacity 0.1s ease;
}

.submit-btn {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid var(--logo-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
    align-self: center;

    &:hover {
        background-color: var(--logo-color);
        border: 2px solid var(--logo-color);
        cursor: pointer;
    }
}

/* Socials  */
.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;

}

.soc-icon {
    width: 2.5rem;
    height: 2.5rem;
    filter: invert(52%) sepia(15%) saturate(901%) hue-rotate(231deg) brightness(89%) contrast(86%) opacity(.5);
}

.soc-icon:hover {
    filter: invert(26%) sepia(37%) saturate(419%) hue-rotate(232deg) brightness(92%) contrast(89%);
    animation: socIconGrow 1s;
}

@keyframes socIconGrow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.14);
    }
}

/* Footer */
footer {
    /* background-color: var(--bg-color); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 5rem;

}

/* Scroll-Up Arrow */
.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

.up-arrow {
    width: 3rem;
    height: 3rem;
}

.up-arrow:hover {
    animation: socIconGrow 1s;
    transition: var(--transition);
    filter: invert(52%) sepia(15%) saturate(901%) hue-rotate(231deg) brightness(89%) contrast(86%);
}

/* Responsiveness: 720px */
@media screen and (max-width: 720px) {
    * {
        scroll-margin-top: 86px;
    }

    /* NavBar Section */
    .navbar {
        padding: 0 2rem;
        perspective: 1000;
    }
    
    .burger-menu {
        display: block;
    }
    
    .nav-link-list {
        background-color: var(--bg-color);
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        min-height: 20rem;
        top: 5rem;
        left: 0%;
        transform: translateX(100%);
        transition: transform 0.2s ease-in;
    }

    .show {
        transform: translateY(0);
        transition: transform 0.2s ease-in;
    }

    
    /* Hero Section */
    .hero-section {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        min-height: 40em;
        padding: 0;
    }

    .hero-img {
        width: 25rem;
    }

    .bio {
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        width: 50%;
        height: 14rem;
    }
    /* More About Section */
    .more-about-section {
        width: 70%;
        min-height: 37em;
        padding: 0;
    }

    /* Skills Section */
    .skills-section {
        min-height: 29rem;
    }

    .skill-container {
        min-height: 20rem;
    }
    
    .skill-strip {
        width: 70%;
    }
    .icon-img {
        width: 5em;
        height: 5em;
    }
    /* Projects  Section */
    .project-section {
        min-height: 102rem;
    }

    .project-card-container {
        flex-direction: column;
        padding: 0;
    }

    .project-card {
        width: 70%;
    }

    .card-link {
        min-height: 30rem;
    }

    .project-pic {
        width: 60%;
    }

    /* Contact Section */
    .contact-form-container {
        width: 60%;
    }
}

/* Responsiveness: 480px */

/* @media screen and (max-width: 480px) {
    .burger-menu {
        display: block;
    }

    .nav-link-list {
        top: 107px;
        left: 30%;
        width: 50%;
    }

    /* Hero Generals /
    .hero-section {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .hero-img {
        width: 24rem;
    }

    .skills-section {
        min-height: 78rem;
    }

    .skill-strip{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    .socials {
    position: relative;
    flex-direction: row;
    width: 100%;
    }
} */