@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@1,400;1,700&family=Permanent+Marker&display=swap');

/* Variables */
:root {
    --font-family: "Roboto", sans-serif;
    --heading-font-family: 'Permanent Marker', sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --font-size: 1.2rem;
    --bg-color: #f3f0f5;
    --logo-color: #8c71a0;
    --primary-color: #382340;
    --secondary-color: #000;
    --tertiary-color: #85a071;
    --primary-shadow: #544360;
    --secondary-shadow: #8b8eaf;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.5rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-margin-top: 100px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--tertiary-color);
}

body {
    font-family: var(--font-family);
}


/* NavBar Section */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.3rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav img {
    height: 100px;
    width: 100px;
}

nav h1 {
    color: var(--primary-color);
    font-family: var(--heading-font-family);
}

.site-toggle {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
    margin: 0 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0%;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.switch input {
    display: none;
}

.slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 5px;
    background-color: #fff;
    transition: .4s;
    border-radius: 50px;
}

input:checked+.slider {
    background-color: var(--logo-color);
}

input:checked+.slider::before {
    transform: translateX(20px);
}

nav a,
h1 {
    color: var(--primary-color);
    transition: var(--transition);
}

nav h1:hover {
    color: var(--logo-color);
}

nav a:hover {
    color: var(--tertiary-color);
    border-bottom: 2px solid var(--tertiary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* Hero Section */

section#about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2.5rem 0;
    margin-bottom: 1.25rem;
}

section#about p {
    font-size: var(--font-size);
}

section img {
    width: 34rem;
    height: 34rem;
}

.bio {
    height: 500px;
    width: 500px;
    margin-top: 190px;
}

/* More About Section */

.more-about {
    background-color: var(--bg-color);
    padding: 2.5rem 6rem;
}

.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.more-about p {
    line-height: var(--line-height);
    font-size: var(--font-size);
    padding: .4rem;
}

/* Skills Section */

.skills {
    max-width: 68.7rem;
    margin: auto;
    text-align: center;
    padding: 2.5rem;
}

.skill-header {
    margin-bottom: 1rem;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.icon {
    width: 11.857rem;
    height: 11.25rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}

/* Projects  Section */

.projects {
    background-color: var(--bg-color);
    padding: 2.5rem 0 4rem 0;

}

.project-pic {
    width: 65%;
    height: 60%;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}

.project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
}

.project-title,
.project-details {
    margin-bottom: var(--bottom-margin);
}

.project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

.project-link {
    color: var(--logo-color);
}

/* Contact Section */
.contact {
    padding: 2.5rem;
}

.contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
    line-height: 2.7rem;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}

.contact-form0container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    font-family: var(--font-family);
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
    font-family: var(--font-family);
}


.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: var(--logo-color);
    border: 2px solid var(--logo-color);
    cursor: pointer;
}

/* Socials  */
.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
}

.soc-icon {
    width: 2rem;
    height: 2rem;
    filter: invert(52%) sepia(15%) saturate(901%) hue-rotate(231deg) brightness(89%) contrast(86%) opacity(.5);
}

.soc-icon:hover {
    filter: invert(26%) sepia(37%) saturate(419%) hue-rotate(232deg) brightness(92%) contrast(89%);
    animation: socIconGrow 1s;
}

@keyframes socIconGrow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.25);
    }
}

/* Footer */
footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}

/* Scroll-Up Arrow */
.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

.up-arrow {
    width: 3rem;
    height: 3rem;
}

.up-arrow:hover {
    animation: socIconGrow 1s;
    transition: var(--transition);
    filter: invert(52%) sepia(15%) saturate(901%) hue-rotate(231deg) brightness(89%) contrast(86%);
}

/* Responsiveness: 720px */
@media screen and (max-width: 720px) {
    * {
        scroll-margin-top: 148px;
    }

    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 25%;
        width: 50%;
        text-align: center;
        transform: translateX(150%);
        /* transition: transform 0.5s ease-in; */
    }

    nav ul li {
        margin: 8px;
    }

    .burger-menu {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
        transition: transform 0.5s ease-in;
    }

    section#about {
        padding-top: 7rem;
    }

    .hero {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
    }

    .bio {
        width: 356px;
        height: 290px;
        margin-top: 52px;
    }

    .icon {
        width: 7.875rem;
        height: 7.25rem;
    }

    .projects-container {
        flex-direction: column;
    }

    .project-container {
        width: 20.875rem;
    }

    .contact-form-container {
        max-width: 23.75rem;
    }
}

/* Responsiveness: 420px */

@media screen and (max-width: 420px) {

    nav ul {
        top: 107px;
        left: 30%;
        width: 50%;
    }

    .hero img {
        height: 20rem;
        width: 20rem;
    }

    .bio {
        width: 18.3rem;
    }

    .project-container {
        width: 17.875rem;
    }

    .icon {
        width: 6rem;
        height: 6rem;
    }

    .contact-form-container {
        max-width: 17.75rem;
    }
}